.checkout-block {
  padding-top: 172px;
  padding-bottom: 36px;
  @media screen and (max-width: $sm) {
    padding-top: 86px;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    padding-top: 129px;
  }
}
.checkout-list-wrapper {
  margin-bottom: 40px;
  @media screen and (max-width: $sm) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    margin-bottom: 32px;
  }
}
.checkout-inner-item {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid rgba($dark-gray, 0.7);
}
@mixin checkout-after-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: InterUIBold;
  font-style: normal;
  text-transform: uppercase;  
  color: $white;
}
.checkout-remove-button {
  position: absolute;
  min-height: 32px;
  min-width: 25%;
  right: 2%;
  top: 4%;
  border-radius: 4px;
  background: $checkout-remove-button;
  &:hover {
    background: $checkout-remove-button-hover;
  }
  &::after {
    @include checkout-after-button;
    content: 'Remove';
    font-size: 12px;
    line-height: 14px;
  }
}
.checkout-pay-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
}
.checkout-pay-button {
  width: 33%;
  min-height: 48px;
  border-radius: 8px;
  background: $checkout-pay-button;
  &:hover {
    background: $checkout-pay-button-hover;
  }
  &::after {
    @include checkout-after-button;
    content: 'Pay now';
    font-size: 14px;
    line-height: 17px;
  }
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
