.store-block {
  padding-top: 172px;
}
.store-content-list {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $sm) {
    flex-direction: column;
  }
}
.store-list-item {
  text-align: center;
  background-color: $white;
  border-radius: 8px;
  :last-child {
    border-bottom: none;
  }
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
  }
  @media screen and (max-width: $md) {
    width: calc(50% - 24px);
  }
  @media screen and (max-width: $sm) {
    width: 100%;
  }
}
.list-item-textblock-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store-inner-item {
  padding: 16px;
  border-bottom: 1px solid rgba($dark-gray, 0.7);
}
