.store-block {
  padding-top: 172px;
  padding-bottom: 36px;
  @media screen and (max-width: $sm) {
    padding-top: 86px;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    padding-top: 129px;
  }
}
.store-list-wrapper {
  margin-bottom: 40px;
  @media screen and (max-width: $sm) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    margin-bottom: 32px;
  }
}
.store-grid-list {
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.store-grid-item {
  @include grid-item;
  width: 100%;
  text-align: center;
  :last-child {
    border-bottom: none;
  }
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
  }
}
.list-item-textblock-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store-inner-item {
  padding: 16px;
  border-bottom: 1px solid rgba($dark-gray, 0.7);
}

