.store-block {
  padding: 172px 0 172px 0;
  @media screen and (max-width: $sm) {
    padding: 86px 0 86px 0;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    padding: 129px 0 129px 0;
  }
}
.store-grid-list {
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.store-grid-item {
  width: 100%;
  text-align: center;
  background-color: $white;
  border-radius: 8px;
  transition: box-shadow .3s ease;
  :last-child {
    border-bottom: none;
  }
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
  }
}
.store-list-item {  
  text-align: center;
  background-color: $white;
  border-radius: 8px;
  width: calc(33% - 21.333px);
  margin-bottom: 32px;
  transition: box-shadow .3s ease;
  :last-child {
    border-bottom: none;
  }
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
  }
  @media screen and (max-width: $sm) {
    width: 100%;
    margin-bottom: 16px;
  }
  @media screen and (min-width: $sm+1) and (max-width: $md) {
    width: calc(50% - 12px);
    margin-bottom: 24px;
  }
}
.list-item-textblock-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store-inner-item {
  padding: 16px;
  border-bottom: 1px solid rgba($dark-gray, 0.7);
}

