<ul class='nav-list'>
  <li class='link nav-link-wrapper'>
    <a href="/#models" class='link dark-nav-link'>
      Models
    </a>
  </li>
  <li class='nav-link-wrapper'>
    <a href="/#consulting" class='link dark-nav-link'>
      Consulting
    </a>
  </li>
  <li class='nav-link-wrapper'>
    <a href="/#about" class='link dark-nav-link'>
      About
    </a>
  </li>
  <li class='nav-link-wrapper'>
    <a href="blog" class='link dark-nav-link'>
      Blog
    </a>
  </li>
  <li class='nav-link-wrapper'>
    <a href="checkout" class='link invert' id='shopping-cart'>
      <img class='shopping-cart' src="./img/icon/shopping_cart_24px.png" alt="shopping_cart">
    </a>
  </li>
</ul>
