extends templates/general

block title
  title= 'Blog'

block header
  include templates/header

block footer
  include templates/footer

block content
  .page-wrapper
    .blog-articles-block
      .container
        .blog-articles-wrapper
          .search-block-wrapper
            p.title.sub-title Articles
            .search-line-wrapper
              form(action="#")
                input.search-line.text.sub-sub-text(placeholder="Search", type="text", name="search-line")
          .grid-list.blog-grid-list
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-0.png", alt="blog-articles-0")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-1.png", alt="blog-articles-1")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-2.png", alt="blog-articles-2")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-3.png", alt="blog-articles-3")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-4.png", alt="blog-articles-4")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
            .blog-list-item
              img.image.mb-32(src="./img/png/blog-articles-5.png", alt="blog-articles-5")
              .list-item-textblock-wrapper
                p.title.sub-text.mb-16 Multifamily Ground-Up Development Model
                p.text.sub-text.mb-24 The Development Models will appeal to developers both small and large. Meaning, a small 2-3 person shop to a private equity firm.
