extends templates/general

block title
  title= 'Checkout'

block header
  include templates/header

block footer
  include templates/footer

block content
  .page-wrapper
    .checkout-block
      .container
        .checkout-wrapper
          .search-block-wrapper
            p.title.sub-title Checkout  
          .checkout-list-wrapper          
            .grid-list.store-grid-list 
              .store-grid-item
                .checkout-inner-item.no-p-x
                  button.checkout-remove-button
                  .item-info
                    img.image.mb-16(src="./img/png/store-0.png", alt="store-item-0")
                    p.text.sub-text.no-m Xiaomi Mi Band 2</p>
                p.title.sub-text.no-m.checkout-inner-item $ 384.4
              .store-grid-item
                .checkout-inner-item.no-p-x
                  button.checkout-remove-button
                  .item-info
                    img.image.mb-16(src="./img/png/store-1.png", alt="store-item-1")
                    p.text.sub-text.no-m Xiaomi Mi Band 2</p>
                p.title.sub-text.no-m.checkout-inner-item $ 384.4
              .store-grid-item
                .checkout-inner-item.no-p-x
                  button.checkout-remove-button
                  .item-info
                    img.image.mb-16(src="./img/png/store-2.png", alt="store-item-2")
                    p.text.sub-text.no-m Xiaomi Mi Band 2</p>
                p.title.sub-text.no-m.checkout-inner-item $ 384.4
              .store-grid-item
                .checkout-inner-item.no-p-x
                  button.checkout-remove-button
                  .item-info
                    img.image.mb-16(src="./img/png/store-3.png", alt="store-item-3")
                    p.text.sub-text.no-m Xiaomi Mi Band 2</p>
                p.title.sub-text.no-m.checkout-inner-item $ 384.4
          .checkout-pay-button-wrapper
            button.checkout-pay-button
