extends templates/general

block title
  title= 'Store'

block header
  include templates/header

block footer
  include templates/footer

block content
  .page-wrapper
    .store-block
      .container
        .store-wrapper
          .search-block-wrapper
            p.title.sub-title Store
            .search-line-wrapper#search-line-wrapper
              form#product-search-form(action="#")
                input#product-search-line.search-line.text.sub-sub-text(placeholder="Search", type="text", name="search-line")
          .store-list-wrapper 
            .grid-list.store-grid-list#product-list
