<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Store</title>
  </head>
  <body>
    <header class="header w-background no-scroll">
      <div class="container">
        <div class='header-wrapper'>
          <div class='logo-wrapper'>
            <a class='link logo header-logo' href="/"></a>
          </div>
        </div>
      </div>
    </header>
    <div class='page-wrapper'>
      <div class='store-block'> 
        <div class='container'>
          <div class='store-wrapper'>
            <div class='search-block-wrapper'>
              <p class='title sub-title'>Store</p> 
              <div class='search-line-wrapper'>
                <form action="#">
                  <input placeholder="Search" class='search-line text sub-sub-text' type="text" name="search-line">     
                </form>
              </div> 
            </div>
            <div class='content-list store-content-list'>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Recommend</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-0.png" alt="store-item-0">
                    <p class='text sub-text no-m'>Asus ZenFone Go ZB45 </p>
                  </a>
                  </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Bestseller</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-1.png" alt="store-item-0">
                    <p class='text sub-text no-m'>Xiaomi Mi Band 2</p>
                  </a>
                </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Goods of the week</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-2.png" alt="store-item-0">
                    <p class='text sub-text no-m'>LG 43UH610V</p>
                  </a>
                </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Recommend</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-3.png" alt="store-item-0">
                    <p class='text sub-text no-m'>Electrolux EZB 52410 AK</p>
                  </a>
                  </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Bestseller</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-4.png" alt="store-item-0">
                    <p class='text sub-text no-m'>Beats Studio wireless</p>
                  </a>
                  </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
              <div class='store-list-item'>
                <p class='title sub-text no-m store-inner-item'>Recommend</p>
                <div class='store-inner-item no-p-x'>
                  <a href="#" class='item-info'>
                    <img class='image mb-16' src="./img/png/store-5.png" alt="store-item-0">
                    <p class='text sub-text no-m'>Nikon D3300 Kit</p>
                  </a>
                </div>
                <p class='title sub-text no-m store-inner-item'>$ 384.4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <footer class='footer'>
      <div class='container'>
        <div class='footer-wrapper'>
          <div class='logo-wrapper'>
            <a class='link logo footer-logo' href="/"></a>
          </div>
          <div class='footer-nav-wrapper'>
            <div class='nav-wrapper footer-nav'>
              <ul class='nav-list'>
                <li class='link nav-link-wrapper'>
                  <a href="#models" class='link nav-link'>
                    Models
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#consulting" class='link nav-link'>
                    Consulting
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#about" class='link nav-link'>
                    About
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#blog" class='link nav-link'>
                    Blog
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#legal" class='link nav-link'>
                    Legal
                  </a>
                </li>
              </ul>
            </div>
            <div class='contact-info-wrapper'>
              <img class='icon icon-footer' src="./img/icon/icon-map.png" alt="icon-map">
              <p class='text sub-sub-text map-marker'> P.O. Box XXXX, Fairfield, CT 06815 </p>
              <img class='icon icon-footer' src="./img/icon/icon-phone.png" alt="icon-phone">
              <p class='text sub-sub-text'> (203) xxx-5555 </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
