<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Homepage</title>
  </head>
  <body>
    <header class="header w-background no-scroll">
      <div class="container">
        <div class='header-wrapper'>
          <div class='logo-wrapper'>
            <a class='link logo header-logo' href="/"></a>
          </div>
        </div>
      </div>
    </header>
    <div class='page-wrapper'>
      <div class='store-block'> 
          <div class='container'>
            <div class='store-wrapper'>
              <div class='search-block-wrapper'>
                <p class='title sub-title'>Store</p> 
                <div class='search-line-wrapper'>
                  <input placeholder="Search" class='search-line text sub-sub-text' type="text" name="search-line">     
                </div> 
              </div>
            </div>
          </div>
      </div>
      
    </div>
    <footer class='footer'>
      <div class='container'>
        <div class='footer-wrapper'>
          <div class='logo-wrapper'>
            <a class='link logo footer-logo' href="/"></a>
          </div>
          <div class='footer-nav-wrapper'>
            <div class='nav-wrapper footer-nav'>
              <ul class='nav-list'>
                <li class='link nav-link-wrapper'>
                  <a href="#models" class='link nav-link'>
                    Models
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#consulting" class='link nav-link'>
                    Consulting
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#about" class='link nav-link'>
                    About
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#blog" class='link nav-link'>
                    Blog
                  </a>
                </li>
                <li class='nav-link-wrapper'>
                  <a href="#legal" class='link nav-link'>
                    Legal
                  </a>
                </li>
              </ul>
            </div>
            <div class='contact-info-wrapper'>
              <img class='icon icon-footer' src="./img/icon/icon-map.png" alt="icon-map">
              <p class='text sub-sub-text map-marker'> P.O. Box XXXX, Fairfield, CT 06815 </p>
              <img class='icon icon-footer' src="./img/icon/icon-phone.png" alt="icon-phone">
              <p class='text sub-sub-text'> (203) xxx-5555 </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
