extends templates/general

block title
  title= 'Store'

block header
  include templates/header

block footer
  include templates/footer

block content
  .page-wrapper
    .store-block
      .container
        .store-wrapper
          .search-block-wrapper
            p.title.sub-title Store
            .search-line-wrapper
              form(action="#")
                input.search-line.text.sub-sub-text(placeholder="Search", type="text", name="search-line")
          .store-list-wrapper 
            .grid-list.store-grid-list#product-list
          .store-load-button-wrapper
            button.store-load-button#load-button
