//colors
$white: #FFFFFF;
$charcoal-black: #0E0F21;
$gray: #6E6F7A;
$light-gray: #979CAA;
$back-gray: #E5E5E5;
$primary-blue: #0000FF;
$ultramatine-blue: #2A4BFF;
$blue: rgb(40, 62, 184);
$scroll-link: #0E0F21;

//screen width 
$xl: 1708px+48px;
$lg: 1280px+48px;
$md: 768px+48px;
$sm: 320px+48px;
