@font-face{
  font-family: "RobotoRegular";
  src : url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
  font-family: "InterUIRegular";
  src : url("../fonts/InterUI/Inter-Regular.ttf");
}

@font-face{
  font-family: "InterUIBold";
  src : url("../fonts/InterUI/Inter-Bold.ttf");
}

@font-face{
  font-family: "FontAwesome";
  src : url("../fonts/FontAwesome/Fa-Solid.ttf");
}
