@import url('https://rsms.me/inter/inter.css'); //Inter UI

@font-face{
  font-family: "RobotoRegular";
  src : url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
  font-family: "InterUIRegular";
  src : url("../fonts/InterUI/Inter-Regular.ttf");
}
