//-----------------------------blocks/ wrappers----------------------------
.header,
.footer {
  z-index: 20;
  left: 0;
  right: 0;
  margin: 0;
}
.header {
  position: fixed;
  height: 88px;
  top: 0px;
  transition: background-color 1s ease;
  @media screen and (max-width: $sm) {
    height: 56px;
  }
}
.on-scroll-header {
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.footer {
  position: absolute;
  bottom: 0;
  height: 200px;
  background: $charcoal-black;
  @media screen and (max-width: $md) {
    min-height: 300px;
  }
}
.header-wrapper,
.footer-wrapper {
  height: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper {
  @media screen and (max-width: $md) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .logo-wrapper {
      margin: 56px 0 44px 0;
    }
  }
}
//-------------------------------navigation--------------------------------
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 50%;
  :last-child {
    margin-right: 0;
  }
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
.nav-link-wrapper {
  margin-right: 49px;
}
.footer-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-nav {
  margin-bottom: 20px;
}
.contact-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .text {
    font-size: 14px;
    line-height: 16px;
    color: $light-gray;
    margin: 0 43px 0 0;
  }
  :last-child {
    margin-right: 0;
  }
  @media screen and (max-width: $md) {
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .text {
      margin: 0 43px 24px 0;
    }
  }
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: $md) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@mixin nav-link{
  font-family: InterUIBold;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-link {
  @include nav-link;
}
.dark-nav-link {
  @include nav-link;
  color: $charcoal-black;
}
//---------------------------------------------logo---------------------------------------------------
.logo-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: $sm) {
    height: 56px;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 108px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  &::before {
    position: relative;
    content: '';
    padding: 0;
    border: 8px solid $ultramatine-blue;
    border-radius: 50px;
    box-sizing: border-box;
  }
  &::after {
    content: 'Project name';
  }
  @media screen and (max-width: $md) {
    &::after {
      content: '';
    }
  }
}
.header-logo {
  font-size: 14px;
  line-height: 14px;
  color: $charcoal-black;
  &::before {
    margin-right: 5px;
    min-width: 40px;
    height: 40px;
  }
}
.footer-logo {
  font-size: 24px;
  line-height: 28px;
  color: $white;
  max-width: 220px;
  &::before {
    margin-right: 20px;
    min-width: 70px;
    height: 70px;
  }
}
