@mixin after-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: InterUIBold;
  font-style: normal;
  text-transform: uppercase;  
  color: $white;
}
.button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: flex-start;
  min-width: 220px;
  min-height: 48px;
  border-radius: 8px;
  color: $white;
  background: $ultramatine-blue;
  transition: background-color 0.2s ease;
  &:hover {
    background: $primary-blue;
  }
  @media screen and (max-width: $sm) {
    width: 100%;
  }
}
.rectangle-button {
  display: flex !important;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  .button {
    display: none;
  }
  &::before{
    position: absolute;
    content: url(../img/icon/arrow-forward.png); 
  }
  @media screen and (max-width: $sm) {
    .image {
      display: none;
    }
    .button {
      display: flex;
    }
    &::before {
      content: ''; 
    }
  }
}

.totop-button {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 100;
  bottom: 10%;
  padding: 15px;
  border-radius: 4px;
  font-size: 24px;
  background: $totop-button;
  &-active {
    visibility: visible;
    opacity: 1;
  }
  &::after {
    @include after-button;
    font-family: 'FontAwesome';
    content: '\f062';
    color: white;
  }
  &:hover {
    background: $totop-button-hover;
  }
  @media screen and (max-width: $md) {
    display: none !important;
  }
  @media screen and (min-width: $md+1) and (max-width: $xl+200px){
    font-size: 18px;
    right: 24px;
  }
  @media screen and (min-width: $xl+201px) and (max-width: $xl+1000px)  {
    right: 15%;
  }
  @media screen and (min-width: $xl+1001px) {
    right: 27%;
  }
}
.link {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) !important;
  z-index: 1;
  &-dark {
    color: $charcoal-black !important;
  }
  &:hover {
    color: $blue;
  }
}
