html { 
  font-family: 'Inter', sans-serif;     
}

body{
  margin: 0;
}

.menu{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center; 

  height: 88px;
  left: 0px;  
  top: 0px; 
}

.menu-logo{
  position: absolute; 
  border: 8px solid #0078FF;
  border-radius: 50px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;    
}

.menu-logo-text{
  position: absolute;
  width: 71px;
  height: 30px;   

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  color: #0E0F21;
}

.nav-container{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-link-container{
  margin-right: 49px;
}

.nav-link{
  font-family: Inter UI;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  
  line-height: 24px;    
  letter-spacing: 1px; 
  text-transform: uppercase;

  color: white;
}

.header-container{
  position: absolute;
  top: 0px;
}

.header-image{
  position: absolute;
  top: 0px;
  z-index: -1;
}

.header-heading{
  position: absolute; 
  margin-bottom:  40px;
}

.header-heading-text{
  font-family: Inter UI;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 64px;
  color: #0E0F21; 
}

.header-p{
  position: absolute;  
}

.header-p-text{
  font-family: Inter UI;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  
  color: #6E6F7A;
}

@media (min-width: 1920px)  {
  .menu{
    width: 1920px;
  }

  .menu-logo {
    left: 11.04%;
    top:24px;
  }

  .menu-logo-text{
    left: 257px;
    top: 32px;
  }

  .menu-nav{
    left: 1261px;
  }

  .header-container{
    width: 1708px;
    height: 1154px;
    left: 212px;
  }

  .header-image{
    width: 1183px;
    height: 1141px;
    left: 737px;
  }

  .header-heading{
    width: 706px;
    height: 288px;
    left: 212px;
    top: 360px;  
  }

  .header-heading-text{
    font-size: 80px;
    line-height: 96px;
  }

  .header-p{
    width: 521px;
    height: 64px;
    left: 212px;
    top: 688px;   
  }
}

@media (min-width: 768px) and (max-width: 1920px) {
  .menu{
    width: 1440px;
    left: calc(50% - 1440px/2);
  }

  .menu-logo {
    left: calc(50% - 40px/2 - 540px);
    top: 21px;
  }

  .menu-logo-text{        
    left: 205px;
    top: 29px;
  }

  .menu-nav{
    left: 833px;
  }

  .header-container{
    width: 1280px;
    height: 888px;
    left: 160px;
  }

  .header-image{
    width: 920px;
    height: 888px;
    left: 520px;
  }

  .header-heading{
    width: 544px;
    height: 192px;
    left: calc(50% - 544px/2 - 288px);
    top: 288px;  
  }

  .header-heading-text{
    font-size: 56px;
    line-height: 64px;
  }

  .header-p{
    width: 384px;
    height: 96px;
    left: calc(50% - 384px/2 - 368px);
    top: 520px;  
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu{
    width: 768px;        
  }

  .menu-logo {
    left: calc(50% - 40px/2 - 320px);
    top:21px;
  }

  .menu-logo-text{
    left: 89px;
    top: 29px;
  }

  .menu-nav{
    left: 277;
  }

  .header-container{
    width: 768px;
    height: 605px;
    left: 0px;
    top: 88px;
  }

  .header-image{
    width: 768px;
    height: 397px;
    left: 0px;
  }

  .header-heading{
    width: 680px;
    height: 96px;
    left: 44px;
    top: 493px; 
  }

  .header-heading-text{
    font-size: 40px;
    line-height: 48px;
  }

  .header-p{
    width: 680px;
    height: 64px;
    left: 44px;
    top: 629px;
  }
}

@media (max-width: 320px) {
  .menu{
    width: 320px;
    height: 56px;
  }

  .menu-logo {
    left: calc(50% - 40px/2);
    top: 8px;
  }

  .menu-logo-text{
    display: none;
  }

  .menu-nav{
    display: none;
  }

  .header-container{
    width: 320px;
    height: 170px;
    left: 0px;
    top: 56px;
  }

  .header-heading{
    width: 288px;
    height: 120px;
    left: 16px;
    top: 250px;
    margin-bottom:  24px;
  }

  .header-heading-text{
    font-size: 32px;
    line-height: 40px;
  }

  .header-p{
    width: 288px;
    height: 38px;
    left: 16px;
    top: 394px;
  }
  
  .header-p-text{
    font-size: 16px;
    line-height: 19px;
  }    
}

.no-m{
  margin: 0;
}

.no-p{
  padding: 0;
}

