footer.footer#footer
  .container
    .footer-wrapper
      .logo-wrapper
        a.link.logo.footer-logo(href="/")
      .footer-nav-wrapper
        .nav-wrapper.footer-nav
          ul.nav-list
            li.link.nav-link-wrapper
              a.link.nav-link#models Models
            li.link.nav-link-wrapper
              a.link.nav-link#consulting Consulting
            li.link.nav-link-wrapper
              a.link.nav-link#about About
            li.link.nav-link-wrapper
              a.link.nav-link#blog Blog
            li.link.nav-link-wrapper
              a.link.nav-link#legal Legal
        .contact-info-wrapper
          img.icon.icon-footer(src="./img/icon/icon-map.png", alt="icon-map")
          p.text.sub-sub-text.map-marker P.O. Box XXXX, Fairfield, CT 06815 
          img.icon.icon-footer(src="./img/icon/icon-phone.png",alt="icon-phone")
          p.text.sub-sub-text (203) xxx-5555
